.container{
    flex: 1;
}
.closeIconContainer {
    align-items: flex-start;
    margin-bottom: 32px;
}
.resetPasswordContainer {
    margin-bottom: 16px;
    justify-content: center;
}
.resetPasswordText {
    margin-bottom: 8px
}
.resetPasswordSubText {
    margin-bottom: 32px;
}
.inputBox {
    margin-bottom: 16px;
}

%nextButton {
    width: 100%;
}

.dark {
    @extend %nextButton;
    background-color: #F6F6F6;
    border: none;
    margin-bottom: 16px;
}

.active {
    @extend %nextButton;
    background-color: #FFD400;
}

.notificationContainer {
    z-index: 1;
    background-color: #FFD200;
    width: 100%;
    position: absolute;
    top: 50;
    flex-direction: row;
}

.notificationText {
    flex: 1;
    margin-left: 12px;
    margin-right: 12px;
}

.email {
    font-weight: bold;
}