<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29855387596-rab893v41d13s4vfdf1ou73aa4gavfhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29855387596-rab893v41d13s4vfdf1ou73aa4gavfhh</string>
	<key>API_KEY</key>
	<string>AIzaSyAVHI6ectXBkxwBY-utBculqOIOqtaGlXg</string>
	<key>GCM_SENDER_ID</key>
	<string>29855387596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.servbees</string>
	<key>PROJECT_ID</key>
	<string>dev-servbees</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-servbees.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29855387596:ios:deef40bb35631d6eca1769</string>
	<key>DATABASE_URL</key>
	<string>https://dev-servbees.firebaseio.com</string>
</dict>
</plist>