<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>960850345935-vikjeeqroaq3240mtcloup2abi6c97sd.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.960850345935-vikjeeqroaq3240mtcloup2abi6c97sd</string>
  <key>ANDROID_CLIENT_ID</key>
  <string>960850345935-qds3cmcsqsjl6b1tad8aaul59sn8ec2n.apps.googleusercontent.com</string>
  <key>API_KEY</key>
  <string>AIzaSyDzsKehm9KqRb5TYgT_nQZXYC-vCvNTYl8</string>
  <key>GCM_SENDER_ID</key>
  <string>960850345935</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.servbees</string>
  <key>PROJECT_ID</key>
  <string>codes-servbees</string>
  <key>STORAGE_BUCKET</key>
  <string>codes-servbees.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <false></false>
  <key>IS_APPINVITE_ENABLED</key>
  <true></true>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:960850345935:ios:62814da9f6fb0e3a079cba</string>
  <key>DATABASE_URL</key>
  <string>https://codes-servbees.firebaseio.com</string>
</dict>
</plist>