<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746436195177-uici9ld18f9bacegc1i5o5sji6qine35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746436195177-uici9ld18f9bacegc1i5o5sji6qine35</string>
	<key>API_KEY</key>
	<string>AIzaSyD1F7e_J7d3nlFS4HdTAgKKv6srJ2eu25I</string>
	<key>GCM_SENDER_ID</key>
	<string>746436195177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.servbees.appservbees</string>
	<key>PROJECT_ID</key>
	<string>servbees-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>servbees-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746436195177:ios:8c72467b2cc004066503f8</string>
</dict>
</plist>