<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>78822170583-2avr0pabne9tns01p4eci49s37tf9065.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.78822170583-2avr0pabne9tns01p4eci49s37tf9065</string>
  <key>API_KEY</key>
  <string>AIzaSyAzJclyuKZ3AQsS_RdfDR3MOF-vC1gU2Is</string>
  <key>GCM_SENDER_ID</key>
  <string>78822170583</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.servbees.appservbees</string>
  <key>PROJECT_ID</key>
  <string>servbees</string>
  <key>STORAGE_BUCKET</key>
  <string>servbees.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <false></false>
  <key>IS_APPINVITE_ENABLED</key>
  <true></true>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:78822170583:ios:5be270db1109cf06723592</string>
  <key>DATABASE_URL</key>
  <string>https://servbees.firebaseio.com</string>
</dict>
</plist>